<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/myBlogs.css" th:href="@{/css/myBlogs.css}">
    <link href="../../static/img/logo.png" th:href="@{/img/logo.png}" rel="icon" type="image/x-ico">
    <title>博客管理</title>
</head>
<body>
    <!-- 顶部导航栏 -->
    <nav class="gird-header" th:replace="_fragments :: admin-nav(4)">
        <div class="ui container">
            <div class="ui menu secondary stackable inverted">
                <img class="logoSize" src="../../static/img/logow.png" th:src="@{/img/logow.png}">
                <a href="#" class="m-item item m-mobile-hidden"><i class="idea icon"></i>文章管理</a>
                <a href="#" class="m-item item m-mobile-hidden"><i class="tags icon"></i>分类管理</a>
                <a href="#" class="m-item item m-mobile-hidden"><i class="tags icon"></i>标签管理</a>
                <a href="#" class="m-item item m-mobile-hidden"><i class="pencil alternate icon"></i>友人帐管理</a>
                <div class="m-item m-mobile-hidden right menu">
                    <div class="item ui dropdown">
                        <!-- 右边头像 -->
                        <div class="text">
                            <img class="ui avatar image" src="../../static/img/HeadPhoto.jpg" th:src="@{/img/HeadPhoto.jpg}">
                            夜生明
                        </div>
                        <i class="dropdown icon"></i>
                        <!-- 下拉菜单 -->
                        <div class="menu">
                            <a href="#" th:href="@{/admin/loginOut}" class="item">注销</a>
                            <a href="#" class="item">修改密码</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="m-padded-tb-huge">
        <div class="ui attached pointing menu inverted opacity">
            <div class="ui container">
                <div class="right menu">
                    <a href="#" th:href="@{/admin/movies/input}" class="teal item">发布</a>
                    <a href="#" th:href="@{/admin/movies}" class="teal active item">列表</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 页面中间件 -->
    <div class="ui container opacity">
        <div class="ui secondary segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <div class="ui labeled action input">
                        <input type="text" name="title" placeholder="标题">
                        <button id="clear-btn" class="ui compact button">clear</button>
                    </div>
                </div>
                <div class="field">
                    <button  type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table class="ui compact teal table" th:fragment="moviesList">
                <thead>
                    <tr align="center">
                        <th>ID</th>
                        <th>标题</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center" th:each="movie,iterStat : ${pageInfo.list}">
                            <td th:text="${iterStat.count}">1</td>
                            <td th:text="${movie.title}">标题</td>
                            <td th:text="${movie.published} ? '发布' : '草稿'">草稿</td>
                            <td th:text="${#dates.format(movie.updateTime,'yyyy-MM-dd HH:mm')}">2020-01-02 05:20</td>
                            <td>
                                <a href="#" th:href="@{/admin/movies/{id}/input(id=${movie.id})}" class="ui mini teal basic button">编辑</a>
                                <a href="#" th:href="@{/admin/movies/{id}/delete(id=${movie.id})}" onclick="return confirm('确定要删除该文章吗？三思啊! 删了可就没了！')" class="ui mini red basic button">删除</a>
                            </td>
                        </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui inverted divided stackable grid">
                                <div class="three wide column" align="center">
                                    <a class="item" th:href="@{/admin/movies(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">上一页</a>
                                </div>

                                <div class="ten wide column" align="center">
                                    <p>第 <span th:text="${pageInfo.pageNum}"></span> 页，共 <span th:text="${pageInfo.pages}"></span> 页，有 <span th:text="${pageInfo.total}"></span> 篇文章</p>
                                </div>

                                <div class="three wide column" align="center">
                                    <a class="item" th:href="@{/admin/movies(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页</a>
                                </div>
                            </div>
                            <div align="center">
                                <a href="#" th:href="@{/admin/movies/input}">
                                    <button type="button" class="ui teal button m-mobile-wide m-margin-top"><i class="pencil icon"></i>新增</button>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class=""><span th:text="${message}">操作成功！</span></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- 底部信息栏 -->
    <footer class="ui segment vertical inverted footer" th:replace="_fragments :: footer">
        <div class="ui  center aligned container">
            <div class="ui grid inverted divided stackable">
                <div class="four wide column">
                    <h4 class="ui header typeface inverted">联系我</h4>
                    <div class="ui inverted link list middle aligned">
                        <a href="#" class="item">QQ: 2243501488</a>
                        <a href="#" class="item">Mail: zj@gmail.com</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui header typeface inverted">公众号</h4>
                    <img class="ui rounded image footerImage" src="../../static/img/footerWeChat.png" th:src="@{/img/footerWeChat.png}">
                </div>
                <div class="four wide column">
                    <h4 class="ui header typeface inverted">QQ群</h4>
                    <img class="ui rounded image footerImage" src="../../static/img/footerQQ.png" th:src="@{/img/footerQQ.png}">
                </div>
                <div class="four wide column">
                    <h4 class="ui header typeface inverted">客栈信息</h4>
                    <div class="ui inverted link list middle aligned">
                        <a href="#" class="item">文章总数：31篇</a>
                        <a href="#" class="item">访问总数：32640次</a>
                        <a href="#" class="item">评论总数：578条</a>
                    </div>
                </div>
            </div>
            <div class="ui inverted divider"></div>
            <p class="typeface">我的客栈已营业：0年200天1时16分42秒 (*๓´╰╯`๓)</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        /** 导航栏隐藏按钮动画 */
        $('.menu.toggle').click(function tog() {
            $('.m-item').toggleClass('m-mobile-hidden')
        });
        /** 导航栏下拉菜单动画 */
        $('.ui.dropdown').dropdown({
            on : 'hover'
        });
        /** 消息提示关闭初始化 */
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
        /** 清理输入框和搜索框中的信息 */
        $('#clear-btn').on('click', function() {
                $('.ui.type.dropdown')
                    .dropdown('clear');
            });

        function page(obj) {
            $("[name='page']").val($(obj).data("page"));
            loaddata();
        }

        $("#search-btn").click(function () {
            $("[name='page']").val(0);
            loaddata();
        });
        function loaddata() {
            $("#table-container").load(/*[[@{/admin/movies/search}]]*/"/admin/movies/search",{
                title : $("[name='title']").val(),
                typeId : $("[name='typeId']").val(),
                page : $("[name='page']").val()
            });
        }
    </script>
</body>
</html>